* {
  box-sizing: border-box;
}

p {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
}

header {
  padding: 20px;
  text-align: center;
  width: 300px;
}

h1 {
  margin: 0;
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
}

.container {
  background-image: url('https://phonoteka.org/uploads/posts/2021-09/1631653979_48-phonoteka-org-p-anime-fon-gori-krasivo-51.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card {
  background-image: url('https://www.pngarts.com/files/10/Notice-PNG-Image-Transparent-Background.png');
  background-size: cover;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 350px;
  height: 240px;
  margin-top: 20px;
  text-align: center;
}

.temperature {
  font-size: 28px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.description {
  font-size: 18px;
}

.city {
  margin: 0;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .weather-card {
    width: 90%;
    height: 220px;
  }
}

/* form starting stylings ------------------------------- */

form {
  height: 200px;
}

.group {
  position: relative;
}

.search-button {
  display: none;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
