.App {
  padding-top: 200px;
  text-align: center;
}

header {
  background-color: #3f51b5;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  margin-top: 50px;
  text-align: center;
}

.temperature {
  font-size: 36px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .weather-card {
    width: 90%;
  }
}
